:root {
  --background-grey: #53565b;
  --background-dark-grey: #24282e;
  --dark-orange: #fb4b01;
  --orange: #ff9442;
}

* {
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
}

@media (max-width: 990px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}

body {
  margin: 0;
}

nav {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
}

@media (max-width: 550px) {
  nav {
    margin-left: -3rem;
    padding-right: 3rem;
  }
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  display: inline-block;
  font-size: 1.7rem;
  padding-right: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

nav div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav div p {
  margin-right: 2rem;
  font-size: 1.7rem;
  white-space: nowrap;
}

@media (max-width: 645px) {
  nav div p {
    display: none;
  }
}

nav div img {
  max-width: 4rem;
  max-height: 3rem;
  margin-right: 2rem;
}

@media (max-width: 500px) {
  nav div img {
    display: none;
  }
}

#myVideo {
  margin-top: -5%;
  margin-bottom: -5%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.instagram-video {
  max-height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  margin-left: auto;
  margin-bottom: -10%;
  padding-bottom: 10.8%;
  margin-top: -5%;
}

section.first-section {
  background-color: var(--background-grey);
  color: white;
  text-align: center;
  margin-top: -1px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

section.first-section p {
  margin: 0 auto;
  font-size: 1.7rem;
  max-width: 75rem;
  margin-bottom: 2rem;
}

section.first-section img {
  width: 100%;
  max-width: 95rem;
  padding-bottom: 5rem;
  margin-top: 7rem;
}

h2 {
  font-size: 3.5rem;
  margin: 0;
  padding-top: 2rem;
}

hr {
  border-color: var(--dark-orange);
  max-width: 25rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.steps {
  padding: 2rem;
  background-color: black;
  color: white;
}

.steps h2 {
  font-size: 2rem !important;
  text-align: center;
}

.steps-items {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-items p {
  max-width: 21rem;
  font-size: 1.4rem;
  margin: 0 auto;
}

.steps-items img {
  max-width: 7rem;
  max-height: 7rem;
}

.steps-items .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 750px) {
  .steps-items .part {
    display: block;
  }
}

.steps-items .part div:first-child {
  margin-bottom: 3rem;
}

.steps-items div {
  text-align: center;
}

.bg-color-light-grey {
  background-color: var(--background-grey);
}

.bg-color-dark-grey {
  background-color: var(--background-dark-grey);
}

.how-works div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 40rem;
}

@media (max-width: 1100px) {
  .how-works div {
    max-height: 50rem;
  }
}

@media (max-width: 650px) {
  .how-works div {
    max-height: none;
  }
}

.how-works div .text {
  display: block;
  color: white;
  padding: 2rem;
  width: 100%;
}

.how-works div .text h3 {
  font-size: 1.9rem;
  text-align: center;
}

.how-works div .text p {
  font-size: 1.7rem;
  max-width: 50rem;
  margin: 0 auto;
}

.how-works div img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.step {
  color: white;
  background-color: var(--background-dark-grey);
}

section.step h2 {
  text-align: center;
  margin-bottom: 1rem;
}

section.step h2 img {
  max-width: 7rem;
}

section.step .step-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.step .step-items div {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 950px) {
  section.step .step-items div {
    display: block;
  }
}

@media (max-width: 1150px) {
  section.step .step-items div {
    margin: 1rem;
  }
}

section.step .step-items div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.step .step-items div p {
  max-width: 45rem;
  font-size: 1.6rem;
}

section.step .step-items div h3 {
  font-size: 2rem;
}

section.step .step-items div img {
  max-width: 100%;
}

section.optimise {
  color: white;
  background-color: var(--background-dark-grey);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10px;
}

section.optimise h2 {
  text-align: left;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

section.optimise h2 img {
  max-width: 7rem;
  margin-left: 5rem;
  margin-right: 2rem;
  margin-bottom: -1rem;
}

section.optimise p {
  margin: 0 3rem;
}

section.optimise .optimise-item h2 {
  text-align: center;
}

section.optimise .optimise-item p {
  max-width: 150rem;
  margin: 0 auto;
  font-size: 1.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section.optimise .prices-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 150rem;
  margin: 0 auto;
  grid-gap: 5px;
  padding: 5px;
  background-color: var(--dark-orange);
  color: white;
}

@media (max-width: 700px) {
  section.optimise .prices-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

section.optimise .prices-grid div {
  background-color: black;
  padding: 2rem;
  font-size: 1.5rem;
}

@media (max-width: 550px) {
  section.optimise .prices-grid div {
    padding: 0.9rem;
  }
}

section.optimise .prices-grid div p.title {
  font-family: "Bungee", cursive;
  color: black;
  background-color: var(--dark-orange);
  width: -webkit-fill-available;
  font-size: 3rem;
  text-align: center;
  padding: 0;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -2rem;
}

section.optimise .prices-grid div p.price {
  font-family: "Bungee", cursive;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  margin: 1rem auto;
  color: var(--orange);
}

section.optimise .prices-grid div p.offer {
  margin-left: 4rem;
}

section.optimise .prices-grid div hr {
  border-color: white;
  width: 99%;
  max-width: none;
  margin-right: 5px;
  margin-bottom: 2rem;
}

section.optimise .prices-grid .extra {
  grid-column: span 2;
}

@media (max-width: 700px) {
  section.optimise .prices-grid .extra {
    grid-column: span 1;
  }
}

section.contact {
  background-color: var(--background-grey);
}

section.contact .grid {
  max-width: 151rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 0 auto;
}

@media (max-width: 750px) {
  section.contact .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section.contact .grid div {
  border: solid 2px var(--dark-orange);
  background-color: white;
  padding: 3rem;
  text-align: center;
}

@media (max-width: 1150px) {
  section.contact .grid div {
    padding: 1rem;
  }
}

section.contact .grid div p {
  max-width: 55rem;
}

section.contact .grid div h2 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

section.contact .grid div div {
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

section.contact .grid div div img {
  max-width: 4rem;
  margin-right: 3rem;
}

section.contact .grid div .join-us {
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1.8rem;
}

section.contact .grid div .button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background-color: black;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 40rem;
  color: white;
  padding: 0;
  height: 7rem;
  margin: 0 auto;
}

section.contact .grid div .button-join {
  margin-top: 13rem;
}

@media (max-width: 1400px) {
  section.contact .grid div .button-join {
    margin-top: 10rem;
  }
}

@media (max-width: 1300px) {
  section.contact .grid div .button-join {
    margin-top: 7rem;
  }
}

section.contact .grid div .button img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.contact .grid div .button p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 3rem;
}

section.contact .grid div .button:hover {
  background-color: var(--background-dark-grey);
}

section.contact .grid .grid-cars {
  padding: 2rem 0rem;
}

section.contact .grid .instagram {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  grid-gap: 5px;
}

@media (max-width: 750px) {
  section.contact .grid .instagram {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
}

section.contact .grid .instagram div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

section.contact .grid .instagram div img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

img {
  max-width: 100%;
}

#services {
  margin-top: -6rem;
  padding-top: 6rem;
}

#prices {
  margin-top: -4rem;
  padding-top: 8rem;
}

.disable-link {
  text-decoration: none;
  color: inherit;
}

/* For change the view of the information text */
.popup {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 150%;
  top: 0px;
  left: 0px;
  z-index: 500;
  visibility: hidden;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.popup:target {
  visibility: visible;
}

.popup-content {
  margin: 0 auto;
  margin-top: 11vh;
  padding: 10px;
  border-radius: 15px;
  color: black;
  background-color: #ffffff;
  width: 60%;
  max-width: 600px;
}

.popup-content a:hover {
  text-decoration: none;
  color: inherit;
}

.popup-content p {
  font-size: 1.9rem;
  margin-left: 2rem;
  font-weight: 500;
  text-align: center;
}

.popup-content button {
  background-color: var(--orange);
  border: none;
  float: right;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

.popup-content form {
  margin: 0 2rem;
}

.popup-content form label {
  font-size: 1.5rem;
}

.popup-content form input,
.popup-content form textarea {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.popup-content form input[type="submit"] {
  background-color: var(--orange);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.8rem;
  width: 101%;
  margin-top: 1rem;
  padding: 1rem 0rem;
}

.popup-close:visited, .popup-close:link {
  font-size: 40px;
  text-decoration: none;
  color: inherit;
  margin-top: -15px;
  margin-right: 0px;
  float: right;
  line-height: 1;
  font-weight: 100;
}

.login {
  padding-top: 15rem;
  max-width: 75rem;
  margin: 0 auto;
}

.login-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-nav button {
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: white;
  border: none;
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  border: 1px solid var(--light-blue);
}

.login-nav button:not(:last-child) {
  border-right: 1px solid var(--light-blue);
}

.login-nav button:first-child {
  border-top: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.login-nav button:last-child {
  border-top: 1px solid var(--light-blue);
  border-bottom: 1px solid var(--light-blue);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.login-nav .tab-selected {
  background-color: var(--light-blue);
  color: white;
}

.login .tab-content {
  background-color: white;
  padding: 5rem;
  margin-top: -3rem;
}

.login .tab-content form p {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--dark-blue);
}

.login .tab-content form input {
  margin-right: 1rem;
  margin-left: 1rem;
  width: -webkit-fill-available;
  text-align: left;
  padding: 1rem;
  margin-top: 2.5rem;
  border: 2px solid var(--dark-orange);
}

.login .tab-content form input::-webkit-input-placeholder {
  color: var(--light-blue);
  font-weight: 500;
}

.login .tab-content form input:-ms-input-placeholder {
  color: var(--light-blue);
  font-weight: 500;
}

.login .tab-content form input::-ms-input-placeholder {
  color: var(--light-blue);
  font-weight: 500;
}

.login .tab-content form input::placeholder {
  color: var(--light-blue);
  font-weight: 500;
}

.login .tab-content form input[type="submit"] {
  text-align: center;
  color: white;
  background-color: var(--orange);
}

a.button {
  margin-right: 1rem;
  margin-left: 1rem;
  width: -webkit-fill-available;
  text-align: left;
  padding: 1rem;
  margin-top: 5rem;
  border-radius: 50rem;
  text-align: center;
  color: white;
  background-color: var(--orange);
  text-decoration: none;
  font-size: 3rem;
}

.fixes {
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.logo-login {
  width: 25rem;
}

.center {
  text-align: center;
}

section.feedback .content {
  top: 15rem;
  left: 50%;
  text-align: center;
}

section.feedback .content p.title {
  font-size: 3.5rem;
}

section.feedback .content p {
  color: var(--dark-blue);
  max-width: 45rem;
  font-size: 2.4rem;
  font-weight: 500;
}

section.feedback .content img {
  margin-left: -8rem;
  max-width: 100%;
}

.instagramdash {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  grid-gap: 15px;
}

@media (max-width: 750px) {
  .instagramdash {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
}

.instagramdash div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.instagramdash div img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.upload-image {
  padding-top: 25rem;
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
}

section.upload-image p {
  font-size: 3rem;
}

section.upload-image label,
section.upload-image input[type="submit"] {
  width: -webkit-fill-available;
  margin-right: 2rem;
  border: 2px solid var(--orange);
  border-radius: 3rem;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  color: var(--orange);
}

section.upload-image label::-webkit-input-placeholder,
section.upload-image input[type="submit"]::-webkit-input-placeholder {
  color: var(--orange);
  font-weight: 500;
}

section.upload-image label:-ms-input-placeholder,
section.upload-image input[type="submit"]:-ms-input-placeholder {
  color: var(--orange);
  font-weight: 500;
}

section.upload-image label::-ms-input-placeholder,
section.upload-image input[type="submit"]::-ms-input-placeholder {
  color: var(--orange);
  font-weight: 500;
}

section.upload-image label::placeholder,
section.upload-image input[type="submit"]::placeholder {
  color: var(--orange);
  font-weight: 500;
}

section.upload-image input[type="submit"] {
  margin-top: 3rem;
  color: white;
  background-color: var(--orange);
}

section.upload-image input[type="file"]:valid ~ label {
  background-color: var(--orange);
  color: var(--dark-blue);
  color: white;
}
/*# sourceMappingURL=main.css.map */