// Define variables for the whole proyect
:root {
  --background-grey: #53565b;
  --background-dark-grey: #24282e;
  --dark-orange: #fb4b01;
  --orange: #ff9442;
}

// Universal selector, you select all elements and apply same typography
* {
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

// All the project is designed on rem instead of px, that means that ell elements that are measures in the rem unit (which substitues the px unit), are pointing to the font-size of the html{} tag. So thanks to that, we can make here the media queries for handeling the different sizes of the screens, and since all rem units are pointing to this font-size attribute, when we change it here, we change it in the wholen rem units across the project
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  @media (max-width: 990px) {
    font-size: 50%;
  }
  @media (max-width: 450px) {
    font-size: 40%;
  }
}

body {
  margin: 0;
}

nav {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  @media (max-width: 550px) {
    margin-left: -3rem;
    padding-right: 3rem;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  & ul {
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      font-size: 1.7rem;
      padding-right: 2rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  div {
    align-items: center;
    display: flex;
    p {
      margin-right: 2rem;
      font-size: 1.7rem;
      white-space: nowrap;
      @media (max-width: 645px) {
        display: none;
      }
    }
    img {
      max-width: 4rem;
      max-height: 3rem;
      margin-right: 2rem;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}

#myVideo {
  margin-top: -5%;
  margin-bottom: -5%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.instagram {
  &-video {
    max-height: 3.5rem;
    display: flex;
    margin-right: 3rem;
    margin-left: auto;
    margin-bottom: -10%;
    padding-bottom: 10.8%;
    margin-top: -5%;
  }
}

section.first-section {
  background-color: var(--background-grey);
  color: white;
  text-align: center;
  margin-top: -1px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  p {
    margin: 0 auto; //This is how you center an object horizontally
    font-size: 1.7rem;
    max-width: 75rem;
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    max-width: 95rem;
    padding-bottom: 5rem;
    margin-top: 7rem;
  }
}

h2 {
  font-size: 3.5rem;
  margin: 0;
  padding-top: 2rem;
}

hr {
  border-color: var(--dark-orange);
  max-width: 25rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.steps {
  padding: 2rem;

  background-color: black;
  color: white;
  h2 {
    font-size: 2rem !important;
    text-align: center;
  }
  &-items {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      max-width: 21rem;
      font-size: 1.4rem;
      margin: 0 auto;
    }
    img {
      max-width: 7rem;
      max-height: 7rem;
    }
    .part {
      display: flex;
      width: 100%;
      justify-content: space-around;
      @media (max-width: 750px) {
        display: block;
      }
      div:first-child {
        margin-bottom: 3rem;
      }
    }
    div {
      text-align: center;
    }
  }
}

.bg-color {
  &-light {
    &-grey {
      background-color: var(--background-grey);
    }
  }
  &-dark {
    &-grey {
      background-color: var(--background-dark-grey);
    }
  }
}

.how-works {
  div {
    display: flex;
    max-height: 40rem;
    @media (max-width: 1100px) {
      max-height: 50rem;
    }
    @media (max-width: 650px) {
      max-height: none;
    }
    .text {
      display: block;
      color: white;
      padding: 2rem;
      width: 100%;
      h3 {
        font-size: 1.9rem;
        text-align: center;
      }
      p {
        font-size: 1.7rem;
        max-width: 50rem;
        margin: 0 auto;
      }
    }
    img {
      width: 50%;

      object-fit: cover;
    }
  }
}

section.step {
  color: white;
  background-color: var(--background-dark-grey);
  h2 {
    text-align: center;
    img {
      max-width: 7rem;
    }
    margin-bottom: 1rem;
  }
  .step-items {
    display: flex;
    justify-content: center;
    div {
      margin: 2rem;
      display: flex;
      @media (max-width: 950px) {
        display: block;
      }
      @media (max-width: 1150px) {
        margin: 1rem;
      }
      div {
        display: flex;
        flex-direction: column;
      }
      p {
        max-width: 45rem;
        font-size: 1.6rem;
      }
      h3 {
        font-size: 2rem;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

section.optimise {
  color: white;
  background-color: var(--background-dark-grey);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10px;
  h2 {
    text-align: left;
    // margin-top: 5rem;
    padding-top: 2rem;
    img {
      max-width: 7rem;
      margin-left: 5rem;
      margin-right: 2rem;
      margin-bottom: -1rem;
    }
    margin-bottom: 3rem;
  }

  p {
    margin: 0 3rem;
  }
  .optimise-item {
    h2 {
      text-align: center;
    }
    p {
      max-width: 150rem;
      margin: 0 auto;
      font-size: 1.7rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .prices-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
    max-width: 150rem;
    margin: 0 auto;
    grid-gap: 5px;
    padding: 5px;
    background-color: var(--dark-orange);
    color: white;
    div {
      background-color: black;
      padding: 2rem;
      @media (max-width: 550px) {
        padding: 0.9rem;
      }
      font-size: 1.5rem;
      p.title {
        font-family: "Bungee", cursive;
        color: var(--orange);
        font-size: 3rem;
        text-align: center;
        margin: 1rem auto;
      }
      p.price {
        font-family: "Bungee", cursive;
        font-size: 5rem;
        text-align: center;
        margin: 0;
        margin: 1rem auto;
      }
      p.offer {
        margin-left: 4rem;
      }
      hr {
        border-color: white;
        width: 99%;
        max-width: none;
        margin-right: 5px;
      }
    }
    .extra {
      grid-column: span 2;
      @media (max-width: 700px) {
        grid-column: span 1;
      }
    }
  }
}

section.contact {
  background-color: var(--background-grey);
  .grid {
    max-width: 151rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 750px) {
      grid-template-columns: 1fr;
    }
    grid-gap: 10px;
    padding: 10px;
    margin: 0 auto;
    div {
      border: solid 2px var(--dark-orange);
      background-color: white;
      padding: 3rem;
      @media (max-width: 1150px) {
        padding: 1rem;
      }
      text-align: center;
      p {
        max-width: 55rem;
      }

      h2 {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
      }
      div {
        border: none;
        justify-content: center;
        display: flex;
        font-size: 2rem;
        img {
          max-width: 4rem;
          margin-right: 3rem;
        }
      }
      .join-us {
        margin: 0 auto;
        margin-top: 2rem;
        font-size: 1.8rem;
      }
      .button {
        display: flex !important;
        background-color: black;
        max-width: fit-content;
        border-radius: 40rem;
        color: white;
        padding: 0;
        height: 7rem;
        margin: 0 auto;
        &-join {
          margin-top: 13rem;
          @media (max-width: 1400px) {
            margin-top: 10rem;
          }
          @media (max-width: 1300px) {
            margin-top: 7rem;
          }
        }
        img {
          height: 100%;
          max-width: 100%;
          object-fit: cover;
        }
        p {
          align-self: center;
          margin: 0 3rem;
        }
      }
      .button:hover {
        background-color: var(--background-dark-grey);
      }
    }
    .grid-cars {
      padding: 2rem 0rem;
    }
    .instagram {
      grid-row-start: 1;
      grid-column-start: 2;
      grid-row-end: span 2;
      grid-gap: 5px;
      @media (max-width: 750px) {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
      }
      div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

img {
  max-width: 100%;
}

#services {
  margin-top: -6rem;
  padding-top: 6rem;
}

#prices {
  margin-top: -4rem;
  padding-top: 8rem;
}

.disable-link {
  text-decoration: none;
  color: inherit;
}

/* For change the view of the information text */
.popup {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 150%;
  top: 0px;
  left: 0px;
  z-index: 500;
  visibility: hidden;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  &:target {
    visibility: visible;
  }
  &-content {
    margin: 0 auto;
    margin-top: 11vh;
    padding: 10px;
    // padding-bottom: 6rem; // This is for inserting the botton button
    border-radius: 15px;
    color: black;
    background-color: #ffffff;
    width: 60%;
    max-width: 600px;
    & a:hover {
      text-decoration: none;
      color: inherit;
    }
    p {
      font-size: 1.9rem;
      margin-left: 2rem;
      font-weight: 500;
      text-align: center;
    }
    button {
      background-color: var(--orange);
      border: none;
      float: right;
      color: white;
      font-size: 1.8rem;
      font-weight: 500;
      border-radius: 0.5rem;
      cursor: pointer;
      padding: 0.5rem 1rem;
      margin-top: 2rem;
    }
    form {
      margin: 0 2rem;
      label {
        font-size: 1.5rem;
      }
      input,
      textarea {
        width: 100%;
        margin-top: 0.3rem;
        margin-bottom: 1rem;
      }
      input[type="submit"] {
        background-color: var(--orange);
        border: none;
        border-radius: 0.5rem;
        color: white;
        font-size: 1.8rem;
        width: 101%;
        margin-top: 1rem;
        padding: 1rem 0rem;
      }
    }
  }
  &-close {
    &:visited,
    &:link {
      font-size: 40px;
      text-decoration: none;
      color: inherit;
      margin-top: -15px;
      margin-right: 0px;
      float: right;
      line-height: 1;
      font-weight: 100;
    }
    &:hover {
      // transform: rotate(90deg);

      // translate: (-100%);
      // transform-origin: 4px 5px;
    }
  }
}
