// Define variables for the whole proyect
:root {
  --background-grey: #53565b;
  --background-dark-grey: #24282e;
  --dark-orange: #fb4b01;
  --orange: #ff9442;
}

// Universal selector, you select all elements and apply same typography
* {
  font-family: "Mulish", sans-serif;
}

// All the project is designed on rem instead of px, that means that ell elements that are measures in the rem unit (which substitues the px unit), are pointing to the font-size of the html{} tag. So thanks to that, we can make here the media queries for handeling the different sizes of the screens, and since all rem units are pointing to this font-size attribute, when we change it here, we change it in the wholen rem units across the project
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  @media (max-width: 990px) {
    font-size: 50%;
  }
  @media (max-width: 450px) {
    font-size: 40%;
  }
}

body {
  margin: 0;
}

nav {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;

  & ul {
    display: flex;
    align-items: center;
    li {
      display: inline-block;
      font-size: 1.7rem;
      padding-right: 2rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  div {
    align-items: center;
    display: flex;
    p {
      margin-right: 2rem;
      font-size: 1.7rem;
    }

    img {
      max-width: 4rem;
      max-height: 3rem;
      margin-right: 2rem;
    }
  }
}

#myVideo {
  margin-top: -45px;
  margin-bottom: -60px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.instagram {
  &-video {
    max-height: 3.5rem;
    display: flex;
    margin-right: 3rem;
    margin-left: auto;
    margin-bottom: -10%;
    padding-bottom: 20%;
    margin-top: -20%;
  }
}

section.first-section {
  background-color: var(--background-grey);
  color: white;
  text-align: center;
  margin-top: -1px;
  p {
    margin: 0 auto; //This is how you center an object horizontally
    font-size: 1.7rem;
    max-width: 75rem;
    margin-bottom: 2rem;
  }
  img {
    width: 90%;
    max-width: 85rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 5rem;
    margin-top: 14rem;
  }
}

h2 {
  font-size: 3.5rem;
  margin: 0;
  padding-top: 2rem;
}

hr {
  border-color: var(--dark-orange);
  max-width: 25rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.steps {
  padding: 2rem;
  background-color: black;
  color: white;
  h2 {
    font-size: 2rem !important;
    text-align: center;
  }
  &-items {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      max-width: 21rem;
      font-size: 1.4rem;
    }
    img {
      max-width: 7rem;
      max-height: 7rem;
    }
    div {
      text-align: center;
    }
  }
}

.bg-color {
  &-light {
    &-grey {
      background-color: var(--background-grey);
    }
  }
  &-dark {
    &-grey {
      background-color: var(--background-dark-grey);
    }
  }
}

.how-works {
  div {
    display: flex;
    max-height: 40rem;
    .text {
      display: block;
      color: white;
      padding: 3rem;
      width: 100%;
      h3 {
        font-size: 1.9rem;
        text-align: center;
      }
      p {
        font-size: 1.7rem;
        max-width: 50rem;
        margin: 0 auto;
      }
    }
    img {
      width: 50%;
      object-fit: cover;
    }
  }
}

// ********************************************************************************************** YOUR CODE STARTS FROM HERE *********************************************************************************************************************************************  /
section.step {
  color: white;
  background-color: var(--background-dark-grey);
  h2 {
    text-align: center;
    img {
      max-width: 7rem;
    }
    margin-bottom: 1rem;
  }
  .step-items {
    display: flex;
    div {
      margin: 2rem;
      @media (max-width: 1150px) {
        margin: 1rem;
      }
      p {
        max-width: 45rem;
      }
      h3 {
        font-size: 2rem;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

section.optimise {
  color: white;
  background-color: var(--background-dark-grey);
  padding-bottom: 10px;
  h2 {
    text-align: left;
    img {
      max-width: 7rem;
      margin-left: 5rem;
      margin-right: 1rem;
    }
    margin-bottom: 3rem;
  }

  p {
    margin: 0 3rem;
  }
  .prices-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }

    max-width: 150rem;
    margin: 0 auto;
    grid-gap: 5px;
    padding: 5px;
    background-color: var(--dark-orange);
    color: white;
    div {
      background-color: black;
      padding: 2rem;
      font-size: 1.5rem;
      p.title {
        font-family: "Bungee", cursive;
        color: var(--orange);
        font-size: 3rem;
        text-align: center;
        margin: 1rem auto;
      }
      p.price {
        font-family: "Bungee", cursive;
        font-size: 5rem;
        text-align: center;
        margin: 0;
        margin: 1rem auto;
      }
      p.offer {
        margin-left: 4rem;
      }
      hr {
        border-color: white;
        width: 99%;
        max-width: none;
        margin-right: 5px;
      }
    }
    .extra {
      grid-column: span 2;
      @media (max-width: 700px) {
        grid-column: span 1;
      }
    }
  }
}

section.contact {
  background-color: var(--background-grey);
  .grid {
    max-width: 150rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    margin: 0 auto;
    div {
      border: solid 2px var(--dark-orange);
      background-color: white;
      div {
        border: none;
      }
      .button {
        display: flex;
        background-color: black;
        max-width: fit-content;
        border-radius: 40rem;
        color: white;
        img {
          height: 100%;
        }
        p {
          align-self: center;
          margin: 0 3rem;
        }
      }
      .button:hover {
        background-color: var(--background-dark-grey);
      }
    }
    .instagram {
      grid-row-start: 1;
      grid-column-start: 2;
      grid-row-end: span 2;
      div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
