<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header" .}}
    <title>Advanced Performance</title>
  </head>
  <body>
    {{template "navbar" .}}
    <section class="first-section">
      <section
        style="background-color: transparent; overflow-y: hidden"
        class="optimise"
      >
        <div class="optimise-item">
          <h2 data-aos="fade-right">
            <img
              style="padding-bottom: 0; margin-top: 0; max-width: 3.5rem"
              src="/static/svg/profile.svg"
            />{{.why_title_id}}
          </h2>
          <p data-aos="fade-up">{{.why_text1_id}}</p>
          <p data-aos="fade-up">{{.why_text2_id}}</p>
          <p data-aos="fade-up">{{.why_text3_id}}</p>
        </div>
      </section>
      <picture>
        <source
          class="padding-5"
          alt="Advanced Performance graph"
          loading="lazy"
          srcset="
            /static/svg/graph-small.svg 1x,
            /static/svg/graph-small.svg 2x
          "
          media="(max-width: 750px)"
        />
        <img
          class="padding-5"
          loading="lazy"
          srcset="/static/svg/main-graph.svg 1x, /static/svg/main-graph.svg 2x"
          alt="Advanced Performance graph"
        />
        <!-- <figcaption class="story__caption">Caption of the image</figcaption> -->
      </picture>
    </section>
    <section class="steps">
      <h2 data-aos="fade-down">{{.buy_title_id}}</h2>
      <div class="steps-items">
        <div class="part">
          <div data-aos="fade-up">
            <img src="/static/images/svg/user.svg" />
            <h3>{{.buy_step1_title_id}}</h3>
            <p>{{.buy_step1_text_id}}</p>
          </div>
          <div data-aos="fade-up">
            <img src="/static/images/svg/credit.svg" />
            <h3>{{.buy_step2_title_id}}</h3>
            <p>{{.buy_step2_text_id}}</p>
          </div>
        </div>
        <div class="part">
          <div data-aos="fade-up">
            <img src="/static/images/svg/service.svg" />
            <h3>{{.buy_step3_title_id}}</h3>
            <p>{{.buy_step3_text_id}}</p>
          </div>
          <div data-aos="fade-up">
            <img src="/static/images/svg/turning file.svg" />
            <h3>{{.buy_step4_title_id}}</h3>
            <p>{{.buy_step4_text_id}}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="optimise">
      <div class="optimise-item">
        <h2 data-aos="fade-up" id="prices">
          <img src="/static/images/svg/cost.svg" />{{.price_title_id}}
        </h2>
        <div class="prices-grid">
          <div data-aos="fade-right">
            <p class="title">GTS</p>
            <p class="price">260€</p>
            <!-- <p class="offer">{{.contains}}</p>
            <hr /> -->
            <ul>
              <hr />
              <li>{{.pack1_te1_id}}</li>
              <hr />
              <li>{{.pack1_te2_id}}</li>
              <hr />
              <li>{{.pack1_te3_id}}</li>
              <hr />
              <li>{{.pack1_te4_id}}</li>
            </ul>
          </div>
          <div data-aos="fade-up">
            <p class="title">S1</p>
            <p class="price">349€</p>
            <!-- <p class="offer">{{.contains}}</p>
            <hr /> -->
            <ul>
              <hr />
              <li>{{.pack2_t1_id}}</li>
              <hr />
              <li>{{.pack2_t2_id}}</li>
              <hr />
              <li>{{.pack2_t3_id}}</li>
              <hr />
              <li>{{.pack2_t4_id}}</li>
            </ul>
          </div>

          <div data-aos="fade-up">
            <p class="title">S2</p>
            <p class="price">350€</p>
            <!-- <p class="offer">{{.contains}}</p>
            <hr /> -->
            <ul>
              <hr />
              <li>{{.pack3_t1_id}}</li>
              <hr />
              <li>{{.pack3_t2_id}}</li>
            </ul>
          </div>
          <div data-aos="fade-left">
            <p class="title">S3</p>
            <p class="price">499€</p>
            <!-- <p class="offer">{{.contains}}</p>
            <hr /> -->
            <ul>
              <hr />
              <li>{{.pack4_t1_id}}</li>
              <hr />
              <li>{{.pack4_t2_id}}</li>
              <hr />
              <li>{{.pack4_t3_id}}</li>
              <hr />
              <li>{{.pack4_t4_id}}</li>
            </ul>
          </div>
          <div data-aos="fade-right" class="extra">
            <p class="title">{{.pack5_title_id}}</p>
            <br /><br />
            <ul>
              <li>{{.pack5_t1_id}}</li>
              <hr />
              <li>{{.pack5_t2_id}}</li>
              <hr />
              <li>{{.pack5_t3_id}}</li>
              <hr />
              <li>{{.pack5_t4_id}}</li>
              <hr />
              <li>{{.pack5_t5_id}}</li>
              <hr />
              <li>{{.pack5_t6_id}}</li>
            </ul>
          </div>
          <div data-aos="fade-left" class="extra">
            <p class="title">{{.pack6_title_id}}</p>
            <br /><br />
            <ul>
              <li>{{.pack6_t1_id}}</li>
              <hr />
              <li>{{.pack6_t2_id}}</li>
              <hr />
              <li>{{.pack6_t3_id}}</li>
              <hr />
              <li>{{.pack6_t4_id}}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- This is the form popup -->
    <div class="popup" id="form-contact">
      <div class="popup-content">
        <a href="#contact" class="popup-close">&times;</a>
        <p>{{.form_title_id}}</p>
        <form method="post" enctype="multipart/form-data">
          <div>
            <div>
              <label for="fname">{{.form_1_id}}</label>
              <input type="text" name="fname" required />
            </div>
            <div>
              <label for="fcontact">{{.form_2_id}}</label>
              <input type="text" name="fcontact" required />
            </div>
          </div>
          <div>
            <label for="fmessage">{{.form_3_id}}</label>
            <textarea name="fmessage" rows="10"></textarea>
          </div>
          <input type="submit" />
        </form>
        <!-- <a href="#contact">
          <button>Done</button>
        </a> -->
      </div>
    </div>

    <!-- This is the OK feedback popup -->
    <div class="popup" id="good-feedback">
      <div style="padding-bottom: 6rem" class="popup-content">
        <a href="#contact" class="popup-close">&times;</a>
        <p>{{.sent}}</p>
        <div style="text-align: center">
          <img src="/static/svg/good-feedback.svg" alt="" />
        </div>
        <a href="#contact">
          <button>{{.done}}</button>
        </a>
      </div>
    </div>

    <section id="contact" class="contact">
      <div class="grid">
        <div data-aos="fade-right">
          <h2>{{.contact}}</h2>
          <div>
            <img src="/static/images/svg/whatsapp.svg" alt="" />
            <p>+44 77 94 234 052</p>
          </div>
          <div style="margin-top: -7rem">
            <img src="/static/images/svg/envelope.svg" alt="" />
            <p>hello@ap-chip.com</p>
          </div>
        </div>
        <div data-aos="fade-right">
          <h2>{{.become}}</h2>
          <p class="join-us">{{.become_text_id}}</p>
          <a href="#form-contact" class="disable-link">
            <div class="button button-join animated">
              <img src="/static/images/svg/fingerprint.svg" alt="" />
              <p>{{.become}}</p>
            </div>
          </a>
        </div>
        <!-- <div data-aos="fade-left" class="instagram">
          <h2>{{.insta_clients}}</h2>
          <img style="max-width: 190px; margin-top: 2rem;" src="/static/images/insta.png" />
          <div class="grid-cars">
            {{range .user.Photos}}
            <img src="/static/images/uploads/{{.}}" alt="" />
            {{end}}
          </div>
          <div style="max-width: fit-content;" class="button">
            <img src="/static/images/svg/fingerprint.svg" alt="" />
            <p>{{.insta_id}}</p>
          </div>
        </div> -->
      </div>
    </section>
    <script>
      AOS.init();
    </script>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-6862ae0f-2648-461a-a13f-e9a846cfecb3"></div>

    <!-- Place <div> tag where you want the feed to appear -->
    <div style="text-align: center" id="curator-feed-default-feed-layout">
      <h2>{{.insta_clients}}</h2>
      <img
        style="max-width: 190px; margin-top: 2rem"
        src="/static/images/insta.png"
      />
      <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
    </div>
    <script type="text/javascript">
      /* curator-feed-default-feed-layout */
      (function () {
        var i,
          e,
          d = document,
          s = "script";
        i = d.createElement("script");
        i.async = 1;
        i.src =
          "https://cdn.curator.io/published/d69453b1-0e27-490a-8006-33482ce5c0c3.js";
        e = d.getElementsByTagName(s)[0];
        e.parentNode.insertBefore(i, e);
      })();
    </script>
    {{template "footer" .}}
  </body>
</html>
