<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header"}}
    <title>Feedback</title>
  </head>

  <body onload="afterLoad()">
    {{template "navbar" .}}
    <style>
      body {
        margin-top: -1rem !important;
      }
    </style>
    <section class="feedback">
      <div class="content">
        <p class="title">{{.title}}</p>
        <img src="/static/svg/wrong.svg" alt="" />
        <p class="">{{.body}}</p>
      </div>
    </section>

    <script type="text/javascript">
      function afterLoad() {
        window.setTimeout(function () {
          window.history.go(-1);
          return false;
        }, 1300);
      }
    </script>
  </body>
</html>
