<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header" .}}
    <title>Advanced Performance</title>
  </head>
  <body>
    {{template "navbar" .}}
    <section class="first-section">
      <h2>WHAT IS CHIP TUNING OR ECU REMAP?</h2>
      <br />
      <hr />
      <p>
        Modifications we made are based on original calibration files. That’s
        why our remaps can unlock hidden potential of your car. Specialists in
        TC Performance have rich experience earned in remapping cars equipped in
        custom components (different injectors, turbochargers and so on). Our
        professional engineers and mechanics have developed custom chiptuning
        Stage 1, Stage 2, Stage 3 and Stage 4.
      </p>
    </section>
    <section class="how-works">
      <div>
        <div class="text bg-color-dark-grey">
          <h3>How does it work?</h3>
          <p>
            Modifications we made are based on original calibration files.
            That’s why our remaps can unlock hidden potential of your car.
            Specialists in TC Performance have rich experience earned in
            remapping cars equipped in custom components (different injectors,
            turbochargers and so on). Our professional engineers and mechanics
            have developed custom chiptuning Stage 1, Stage 2, Stage 3 and Stage
            4.
          </p>
        </div>
        <img src="/static/images/motorcycle.png" />
      </div>
      <div>
        <img src="/static/images/motor.png" />
        <div class="text bg-color-light-grey">
          <h3>INSTALL</h3>
          <p>
            We would be happy to install different car related product. The way
            to our facility is too far for you? No problem, order the desired
            system for self-assembly or use our steadily growing network of
            dealers for professional assembly in your area. We are also able to
            drive to you and do the optimization of your car without you moving
            your car from your home or garage. we only need power and a wifi
            connection to do it. If your car is standing most of the time, or in
            different situations, like Covid, we can provide you this service
            easily. SUPPORT (something support relative) We are happy to be at
            your service at all times with full commitment if you need our
            support. We look after you in every situation – whether on the
            racetrack or on the road: with our individual support you are
            prepared for every situation.
          </p>
        </div>
      </div>
    </section>
    <section id="services" class="step">
      <h2>
        <img src="/static/images/svg/chiptunning.png" />CHIPTUNING FILES SERVICE
      </h2>
      <div class="step-items">
        <div>
          <div>
            <img src="/static/images/computer.png" />
            <h3>WHAT IS CHIP TUNING OR ECU REMAP?</h3>
            <p>
              ECU Remapping (Electronic Control Unit tuning) is a process of
              changing product factory settings made by manufacturers and
              optimize the settings to add extra performance. Car remapping
              offers many options that can be improved or remove things like RMP
              power restrictions, better fuel efficiency, or increase absolute
              boost and boost delivery. New technology will make your car better
              and easier to drive.
            </p>
          </div>
          <div>
            <img src="/static/images/portable dyno.png" />
            <h3>DEVELOPMENT</h3>
            <p>
              We are constantly working with our development crew on optimizing
              our products. Thanks to the continuous improvement process, you
              can benefit from our past experience today. The elaborate
              development methods of our highly qualified engineers are the
              foundation for maximum performance. Analyzed on the racetrack,
              optimized for the road, customized for you.
            </p>
          </div>
        </div>
        <div>
          <div>
            <img src="/static/images/office.png" />
            <h3>RICH BRAND VARIETY</h3>
            <p>
              Check out our variety of all popular car brands. We tuned engines
              and improved performance such cars as Alfa Romeo, Alpina, Aston
              Martin, Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dacia,
              Daewoo, Ferrari, Fiat, Ford, Infinity, Isuzu, Iveco, Jaguar,
              Lancia, Land Rover, McLaren, Mercedes Benz, Mini, Mitsubishi,
              Porsche, Renault, Skoda, Smart, SsangYong, Subaru, Suzuki,
              Volkswagen, Volvo and many more.
            </p>
          </div>
          <div>
            <img src="/static/images/iphone.png" />
            <h3>TESTING DYNO-ROAD</h3>
            <p>
              Testing with Dyno-Road: Every product is put through its paces
              before delivery. You as a Driver can simulate extreme stress
              situations with our dyno-road equipment, in order to guarantee the
              stability of the vehicle. Testing On-Road: The drivability of our
              cars represents the quality of our work. That is why we analyze
              your driving behavior of the cars through extensive road tests –
              so that comfort and performance fit together.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="optimise">
      <div class="optimise-item">
        <h2>
          <img src="/static/images/svg/software.svg" />SOFTWARE OPTIMIZATION
        </h2>
        <p>
          Almost unlimited possibilities with adding more power to your engine:
          software optimization is very popular today. But there are some
          serious differences. As a premium tuner and supplier of tuning and
          custom parts, we attach great importance to this. At AP-Chip, a
          permanent team of experienced engineers, designers, and competent
          mechanics work closely together to offer you custom-made in-house
          software and services. Thanks to our dyno mounted directly on the
          wheels, we are able to test the results of our work under real
          conditions and to simulate special load situations with you behind the
          wheel. With us, testing and optimization go hand in hand in order to
          present you with a product that is perfect for everyday use. Our range
          of services is broad: Whether you want to optimize your engine for the
          racetrack, long-distance, or for a better ecological balance, whether
          you want to invest a lot or a little – we will make you the right
          offer.
        </p>
      </div>
    </section>
  </body>
</html>
