<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "header" .}}
    <title>Advanced Performance</title>
  </head>
  <body>
    {{template "navbar" .}}
    <section class="first-section">
      <h2 data-aos="fade-right" class="upper">{{.about_main_title_id}}</h2>
      <br />
      <hr />
      <p data-aos="fade-left">{{.about_main_text1_id}}</p>
      <p data-aos="fade-left">{{.about_main_text2_id}}</p>
      <h2 class="upper">{{.your_id}}</h2>
      <br />
      <hr />
      <p>{{.your_text_id}}</p>
    </section>
    <section class="how-works">
      <div>
        <div class="text bg-color-dark-grey">
          <h3 data-aos="fade-right">{{.works_id}}</h3>
          <p data-aos="fade-left">{{.works_text_id}}</p>
          <br />
          <p data-aos="fade-left">{{.works_text2_id}}</p>
        </div>
        <img data-aos="fade-up" src="/static/images/motorcycle.png" />
      </div>
      <div>
        <img data-aos="fade-up" src="/static/images/motor.png" />
        <div class="text bg-color-light-grey">
          <h3 data-aos="fade-left">{{.install_id}}</h3>
          <p data-aos="fade-right">{{.install_text_id}}</p>
          <br />
          <p data-aos="fade-right">{{.install_text2_id}}</p>
        </div>
      </div>
    </section>
    <section id="services" class="step">
      <h2 data-aos="fade-up">
        <img src="/static/images/svg/chiptunning.png" />{{.serv_tab_title_id}}
      </h2>
      <div class="step-items">
        <div>
          <div>
            <img data-aos="fade-up" src="/static/images/computer.png" />
            <h3 data-aos="fade-up">{{.file_title_id}}</h3>
            <p data-aos="fade-up">{{.file_text_id}}</p>
          </div>
          <div>
            <img data-aos="fade-up" src="/static/images/portable dyno.png" />
            <h3 data-aos="fade-up">{{.soft_optim_title_id}}</h3>
            <p data-aos="fade-up">{{.soft_optim_text1_id}}</p>
            <p data-aos="fade-up">{{.soft_optim_text2_id}}</p>
          </div>
        </div>
        <div>
          <div>
            <img data-aos="fade-up" src="/static/images/office.png" />
            <h3 data-aos="fade-up">{{.dyno_title_id}}</h3>
            <p data-aos="fade-up">{{.dyno_text1_id}}</p>
            <p data-aos="fade-up">{{.dyno_text2_id}}</p>
          </div>
          <div>
            <img data-aos="fade-up" src="/static/images/iphone.png" />
            <h3 data-aos="fade-up">{{.device_inst_title_id}}</h3>
            <p data-aos="fade-up">{{.device_inst_text1_id}}</p>
            <p data-aos="fade-up">{{.device_inst_text2_id}}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="optimise">
      <div class="optimise-item">
        <h2>
          <img src="/static/images/svg/software.svg" />SOFTWARE OPTIMIZATION
        </h2>
        <p>
          Almost unlimited possibilities with adding more power to your engine:
          software optimization is very popular today. But there are some
          serious differences. As a premium tuner and supplier of tuning and
          custom parts, we attach great importance to this. At AP-Chip, a
          permanent team of experienced engineers, designers, and competent
          mechanics work closely together to offer you custom-made in-house
          software and services. Thanks to our dyno mounted directly on the
          wheels, we are able to test the results of our work under real
          conditions and to simulate special load situations with you behind the
          wheel. With us, testing and optimization go hand in hand in order to
          present you with a product that is perfect for everyday use. Our range
          of services is broad: Whether you want to optimize your engine for the
          racetrack, long-distance, or for a better ecological balance, whether
          you want to invest a lot or a little – we will make you the right
          offer.
        </p>
      </div>
    </section>
    <script>
      AOS.init();
    </script>
  </body>
</html>
