{{define "footer"}}
<div class="footer">
  <div class="footer__brand">
    <img src="/static/images/svg/logo.svg" alt="logo" class="logo" />
    <h4 class="header footer__header--h4">Advance performance&trade;</h4>
  </div>
  <p class="footer__paragraph--1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>

  <div class="social footer__brand--social">
    <svg>
      <use xlink:href="svg/sprite.svg#icon-facebook2"></use>
    </svg>
    <svg>
      <use xlink:href="svg/sprite.svg#icon-instagram"></use>
    </svg>
    <svg>
      <use xlink:href="svg/sprite.svg#icon-twitter"></use>
    </svg>
    <svg>
      <use xlink:href="svg/sprite.svg#icon-linkedin"></use>
    </svg>
  </div>

  <div class="vertical-line"></div>

  <h4 class="help footer__header--h4">Need help?</h4>
  <h4 class="explore footer__header--h4">Explore</h4>
  <h4 class="legal footer__header--h4">Legal</h4>

  <div class="footer__list-h footer__list--text">
    <ul>
      <li><a href="#" class="link">Request proposal</a></li>
      <li><a href="#" class="link">Certification</a></li>
      <li><a href="#" class="link">Contact us</a></li>
    </ul>
  </div>

  <div class="footer__list-e footer__list--text">
    <ul>
      <li><a href="#" class="link">Home</a></li>
      <li><a href="#" class="link">Pricing</a></li>
      <li><a href="#" class="link">All services</a></li>
      <li><a href="#" class="link">Customer services</a></li>
    </ul>
  </div>

  <div class="footer__list-l footer__list--text">
    <ul>
      <li><a href="#" class="link">Privacy policy</a></li>
    </ul>
  </div>
</div>
{{end}}
